
    <div class="row">
  <div class="col-md-12">
  <div style="text-align:center">
    <h1>
      Bienvenidos a nuestra App {{ title }}
    </h1>
    <br/>
    <img width="300" alt="Heroes" src="../assets/polo-horse-stable-equestrian-facilities.jpg">
  </div>
  <br/>
  </div>
</div>
  <div class="row">
  <nav>
    <a routerLink="/dashboard"><h3>Dashboard</h3></a>
    <a routerLink="/heroes"><h3>Heroes</h3></a>
  </nav>
  </div>
  <div class="row">
  	<div class="col-md-12">
      <router-outlet></router-outlet>
  </div>
  </div>
  <br />
  <div class="row">
  	<div class="col-md-12">
      <app-messages></app-messages>
  </div>
  </div>
